GEMINI_API_KEY=tu_clave_api_aqui_obtenida_de_google_ai_studio

# Credenciales de Spotify (Consíguelas en https://developer.spotify.com/dashboard)
SPOTIPY_CLIENT_ID=tu_client_id_de_spotify
SPOTIPY_CLIENT_SECRET=tu_client_secret_de_spotify
SPOTIPY_REDIRECT_URI=http://127.0.0.1:8888/callback