# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Chrome Profile (Specific to this project)
perfil_chrome/

# Spotify cache
.cache

# Database
*.db
*.sqlite

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Frontend
front/node_modules/
front/dist/
front/.vite/
